/*#stack-pane{
    -fx-background-image: url("../../../../../assets/img/bg.gif");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}*/

.root{
    -fx-background-color: #FFE4C4;
}

.label{
    -fx-font: bold italic 20pt "Arial";
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
}

.button {
    -fx-border-width: 2;
    -fx-border-color: #FFE4C4;
    -fx-background-color: #FFDAB9;
    cursor: pointer; // seems like Cursor.HAND
}

.button:hover {
    -fx-background-color: #FFC125;
}

.button:pressed {
    -fx-background-color: #FFDAB9;
}
